* {
   box-sizing: border-box;
}

html {
    background-image: url('../images/background.jpg');
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    clear: both;
}
.character-piece {
    height: 200px;
    width: 142px;
    background-color: #d22;
    padding: 15px 5px;
    border: 3px solid black;
    border-radius: 5px;
    float: left;
    margin: 0px 15px 10px 5px;
}

.character-picture {
    height: 70px;
    margin: auto;
    border: 2px solid white;
}
.character-title {
    clear: both;
}

.card-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.stats {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 25px;
}

#attack-button {
    margin: 10px 15px;
    font-size: 18px;
    height: 30px;
}